@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  margin: 0;
  font-family: 'Asap', 'Roboto', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #EBF2F3
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:disabled {
  cursor: not-allowed;
}

strong, b {
  font-weight: 600 !important;
}
