<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Sign in - WhyLabs Platform | WhyLabs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <meta name="theme-color" content="#0E7384" />
  <meta name="msapplication-navbutton-color" content="#0E7384" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#0E7384" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet" />
  <link rel="shortcut icon" type="image/png"
    href="https://whylabs-public.s3-us-west-2.amazonaws.com/assets/whylabs-favicon.png" />
  <link rel="stylesheet" href="index.css" />

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        "gtm.start":
          new Date().getTime(), event: "gtm.js"
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != "dataLayer" ? "&l=" + l : ""; j.async = true; j.src =
          "https://www.googletagmanager.com/gtm.js?id=" + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-P8BR4HC");
  </script>
  <!-- End Google Tag Manager -->

  <!-- auth0 generated -->
  <link rel="stylesheet" href="https://cdn.auth0.com/ulp/react-components/1.41.2/css/main.cdn.min.css" />
  <style>
    :root {
      --primary-color: #0e7384;
      --page-background-color: #4f595b;
    }

    body {
      background: unset;
    }
  </style>
  <!-- auth0 generated END -->
</head>

<body class="_hide-prompt-logo">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8BR4HC" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ signupPage }}
</body>

</html>