<div class="background">
  <img
    class="background_left-pattern"
    src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/piping-bottom-left.svg"
    alt="decorating element"
  />
  <img
    class="background_right-pattern"
    src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/piping-top-right.svg"
    alt="decorating element"
  />
  {% if showIllustration %}
  <img
    class="background__illustration"
    src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/doggo-bg-2.svg"
    alt="dog illustration"
  />
  {% endif %}
</div>
