<!-- auth0 generated -->
<div class="c0c1a133d c3e88dc55" style="pointer-events: none">
  <main class="c3a151b1b cfe95f46f">
    <section class="c54e39a7c _prompt-box-outer">
      <div class="c718bf582 ca36a3940">
        <div class="c3ac9feae">
          <header class="ce0ebe992 c5d8a968c">
            <div
              title=""
              id="custom-prompt-logo"
              style="
                width: auto !important;
                height: 60px !important;
                position: static !important;
                margin: auto !important;
                padding: 0 !important;
                background-color: transparent !important;
                background-position: center !important;
                background-size: contain !important;
                background-repeat: no-repeat !important;
              "
            ></div>

            <img
              class="ce7953361 c3fc6c841"
              id="prompt-logo-center"
              src="https://cdn.auth0.com/manhattan/versions/1.2921.0/assets/badge.png"
              alt=""
            />

            <h1 class="c92ff66ef c8d2c720e">Welcome</h1>
            <div class="c7a0f0b7f ccf8eb97e">
              <p class="cd347ec30 c0bcc2c60">Log in to to continue to All Applications.</p>
            </div>
          </header>
          <div class="c83631d4a c6a0fe2f0">
            <form method="POST" class="cbd3110ec c174d09ef">
              <div class="cca6693e9 c954a0f0a">
                <fieldset class="c09913459">
                  <div
                    class="c70775199 cdf2d2f59 text cb3db9166 c9c77d946"
                    data-action-text=""
                    data-alternate-action-text=""
                  >
                    <label class="c4506980d no-js c9047ade4 c61209989" for="username"> Email address </label>

                    <input
                      class="input c3a3480c1 ca75d9c8f"
                      inputmode="email"
                      name="username"
                      id="username"
                      type="text"
                      aria-label="Email address"
                      value=""
                      required=""
                      autocomplete="username"
                      autofocus=""
                    />

                    <div class="c4506980d js-required c9047ade4 c61209989" data-dynamic-label-for="username">
                      Email address
                    </div>
                  </div>

                  <div
                    class="c70775199 cdf2d2f59 password ced85c520 c9c77d946"
                    data-action-text=""
                    data-alternate-action-text=""
                  >
                    <label class="c4506980d no-js c9047ade4 c0f352828" for="password"> Password </label>

                    <input
                      class="input c3a3480c1 c525d0fb7"
                      name="password"
                      id="password"
                      type="password"
                      aria-label="Password"
                      required=""
                      autocomplete="current-password"
                    />

                    <div class="c4506980d js-required c9047ade4 c0f352828" data-dynamic-label-for="password">
                      Password
                    </div>

                    <span class="c9773aa3b password js-required"></span>
                  </div>
                </fieldset>
              </div>
              <p class="c8b39dc0e cc5f6e5c4">
                <a class="cffc7a8a5 c9cda21fd c86ee964a" href="#">Forgot password?</a>
              </p>
              <div class="c7e081cd4">
                <button
                  type="submit"
                  name="action"
                  value="default"
                  class="c6069c11a cf6cae695 c495fb6b5 ca4c2ddb1 c65e1117c"
                >
                  Continue
                </button>
              </div>
            </form>
            <div class="ulp-alternate-action _alternate-action __s16nu9">
              <p class="cd347ec30 c0bcc2c60 cee176452">
                Don't have an account?
                <a class="cffc7a8a5 c86ee964a" href="#">Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<!-- auth0 generated END -->
