<div class="quoteblock">
  <div class="text-primary mobile-text-primary quoteblock__text">
    "The WhyLabs Platform offers easy onboarding, data privacy-friendly integration, and a command-center view that
    allows us to quickly identify and treat problems before they impact the user experience. <br />
    The downstream impact of enabling observability is that we are able to continuously expand on our differentiating
    technology by leveraging machine learning for more use cases"
  </div>
  <div class="quoteblock__author">
    <img src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/airspace.svg" alt="company logo" />
    <div class="quoteblock__author-container">
      <p class="label mobile-label">RYAN RUSNAK</p>
      <p class="label mobile-label">CTO AND CO-FOUNDER</p>
      <p class="label mobile-label">AIRSPACE</p>
    </div>
  </div>
</div>
