<div class="signup-page">
  {{ background }} {{ logo }}

  <div class="container mobile-container">
    <div class="signup-page__content wrapper-padding mobile-wrapper-padding">
      <div class="signup-page__left-panel">
        <p class="auth-title mobile-title signup-page__title">
          Sign up to <br />
          create your free account
        </p>
        <p class="auth-subtitle mobile-subtitle signup-page__subtitle">
          Out-of-the-box model and data monitoring. Infrastructure-agnostic. Works at any scale.
        </p>
        <div class="auth0-widget">{{ lock }}</div>
      </div>

      <div class="signup-page__right-panel desktop-only">{{ quoteblock }}</div>
    </div>
  </div>

  {{ footer }}
</div>

