<main class="tablet-down">
  <div class="tablet-header">
    <a href="https://whylabs.ai/" target="_blank">
      <img
        src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/whylabs-logo-night-blue.svg"
        class="whylabs-logo"
        alt="WhyLabs Logo"
      />
    </a>
  </div>
  <div class="tablet-main-header">
    <p class="tablet-main-header__title">The community version of WhyLabs will always be free.</p>
    <p class="tablet-main-header__text">
      This platform provides real-time insights to model performance and data health. Monitor your models in production
      with WhyLabs.
    </p>
  </div>
  <div class="tablet-main-content">
    <img class="tablet-main-dog" src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/doggo-bg-2.svg" />
  </div>
  <div class="tablet-footer">
    <div class="tablet-footer-content">
      <div class="tablet-warning">
        <img
          class="tablet-warning__icon"
          src="https://whylabs-public.s3.us-west-2.amazonaws.com/assets/monitor-warrning.svg"
        />
        <p class="tablet-warning__title">
          It looks like your current screen size or device is not yet supported by the WhyLabs Platform.
        </p>
      </div>
      <p class="tablet-warning__text">
        The WhyLabs Platform is best experienced on a desktop computer. Please try maximizing this window or switching to another
        device. We are working on adding support for a larger variety of devices.
      </p>
    </div>
  </div>
</main>
